.main{
    display: flex;
    align-items: center;
    justify-content: center;
    .body{
        height: 70vh;
        display: flex;
        padding: 20px;
        .pic{
            img{
                width: 400px;
                height: 550px;
            }
        }
    }
    .information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        gap: 30px;
    }
    .about{
        gap: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        h2{
            font-size: 30px;
        }
        p{
            color: rgb(121, 110, 110);
        }
    }
    .details{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .information2{
        display: flex;
        gap: 10px;
        align-items: center;
        p{
            color: rgb(121, 110, 110);
        }
    }
    .cv Button{
        background-color: #FEB949;
    }
}

.cv {
    a {
      text-decoration: none;
    }
  }

  .email {
    color: rgb(121, 110, 110);
    text-decoration: none; 
  }
  