.mainHome{
    // border: 2px solid red;
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    // box-shadow: 10px 10px 10px 0 rgba(255, 255, 255, 0.301);
    .mainLeft{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
        border-radius: 10px;
        h3{
            color: #FEB949;
        }
    }
    p{
        font-size: 25px;
    }
    h3{
        color: white;
        font-size: 30px;
    }
    h2{
        font-size: 30px;
        color: #FEB949;
    }
    .buttons{
        display: flex;
        gap: 10px;
    }
}
.mainRight{
    border-radius: 10px;
    .profile{
        width: 600px;
        height: 550px;
        border-radius: 20px;
        border: none;
    }
}

.buttons :hover{
    background-color: orange;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
button :hover{
    color: #FEB949;
}



  