.mainHome{
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    .mainLeft{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
        border-radius: 10px;
        h3{
            color: #FEB949;
        }
    }
    p{
        font-size: 25px;
    }
    h3{
        color: white;
        font-size: 30px;
    }
    h2{
        font-size: 30px;
        color: #FEB949;
    }
    .buttons{
        display: flex;
        gap: 10px;
    }
}
.mainRight{
    border-radius: 10%;
    .profile{
        width: 500px;
        height: 500px;
        border-radius: 10%;
        border: none;
    }
}

.buttons :hover{
    background-color: orange;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
button :hover{
    color: #FEB949;
}



  